/* style.css */

h1 {
        font-style: italic;
        font-size: 32px;
        font-family: "Georgia";
        color: maroon;
}

div {
        font-size: 18px;
        font-style: bold;
        font-family: "Georgia";
        color: maroon;
}

body {
        background-color: lightblue;
}